body{
    background-color: #343a40!important;
}

.bg-navy{
    background-color: #3c5279;
}

.itemImg{
    object-fit: cover;
}

.info{
    text-align: center;
    border-bottom:solid 1px;
    border-right:solid 1px;
    border-color: black;
    width: 100%;
}

.items{
    height: 200px;
    background-color:#3c5279;
}

.commodity{
    height: 75%;    
}

.overflow-scroll{
    overflow: auto;
}