body{
    background-color: #343a40!important;
}

.bg-navy{
    background-color: #3c5279;
}

.itemImg{
    object-fit: cover;
}

.items{
    height: 200px;
    background-color:#3c5279;
}

.commodity{
    height: 75%;
}

.overflow-scroll{
    overflow: auto;
}